{{ define "main" }}

  {{ $icons := (.Scratch.Get "svgBundle").RelPermalink }}

  <main>
    <article>
      <header>
        
        <h1>{{ .Title }}</h1>

        {{ if or .Params.categories .Params.tags }}
          <section class="tags">
            <ul>
            {{- with .Params.categories -}}
                {{- range sort . -}}
                  <li class="cats"><a class="btn" href="/categories/{{ . | urlize }}">{{ . }}</a></li>
                {{- end -}}
            {{- end -}}
            {{- with .Params.tags -}}
                {{- range sort . -}}
                  <li><a class="btn" href="/tags/{{ . | urlize }}">{{ . }}</a></li>
                {{- end -}}
            {{ end }}
          </section>
        {{- end -}}
        
        {{ if not .Date.IsZero }}
          <p>
            {{ if eq .PublishDate .Lastmod }}
              {{ T "published_on" }} <time datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "2006-01-02" }}</time>
            {{ else }}
              {{ T "last_updated_on" }} <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "2006-01-02" }}</time>
            {{ end }}
          </p>
        {{ end }}
        
        {{ if .Params.cover }}
          {{ partial "cover" . }}
        {{ end }}
        
      </header>
    
      {{ if .Params.toc }}
        <details class="toc" open>
          <summary>{{ T "table_of_contents" }}</summary>
          {{ .Page.TableOfContents }}
        </details>
      {{ end }}
      
      {{ partial "processed-content" . }}

    </article>
  </main>

{{ end }}

{{ define "svg-extra" }}
  <symbol viewBox="0 0 448 512" id="hashtag">
    <path d="M440.667 182.109l7.143-40c1.313-7.355-4.342-14.109-11.813-14.109h-74.81l14.623-81.891C377.123 38.754 371.468 32 363.997 32h-40.632a12 12 0 0 0-11.813 9.891L296.175 128H197.54l14.623-81.891C213.477 38.754 207.822 32 200.35 32h-40.632a12 12 0 0 0-11.813 9.891L132.528 128H53.432a12 12 0 0 0-11.813 9.891l-7.143 40C33.163 185.246 38.818 192 46.289 192h74.81L98.242 320H19.146a12 12 0 0 0-11.813 9.891l-7.143 40C-1.123 377.246 4.532 384 12.003 384h74.81L72.19 465.891C70.877 473.246 76.532 480 84.003 480h40.632a12 12 0 0 0 11.813-9.891L151.826 384h98.634l-14.623 81.891C234.523 473.246 240.178 480 247.65 480h40.632a12 12 0 0 0 11.813-9.891L315.472 384h79.096a12 12 0 0 0 11.813-9.891l7.143-40c1.313-7.355-4.342-14.109-11.813-14.109h-74.81l22.857-128h79.096a12 12 0 0 0 11.813-9.891zM261.889 320h-98.634l22.857-128h98.634l-22.857 128z"/>
  </symbol>
  
  {{ if .Site.Params.Style.hasIconAsFootnoteReturnLink }}
    <symbol viewBox="0 0 320 512" id="caret-down">
      <path d="M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z"/>
    </symbol>
  {{ end }}
  
{{ end }}